body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background: url(https://images.pexels.com/photos/2034373/pexels-photo-2034373.jpeg?cs=srgb&dl=pexels-romka-977155-2034373.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background: #010890;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background: #142eac;
}